<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @purchase.user %>
</p>

<p>
  <strong>Date:</strong>
  <%= @purchase.date %>
</p>

<p>
  <strong>Sum:</strong>
  <%= @purchase.sum %>
</p>

<%= link_to 'Edit', edit_purchase_path(@purchase) %> |
<%= link_to 'Back', purchases_path %>
