<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @rating.user %>
</p>

<p>
  <strong>Product references:</strong>
  <%= @rating.product_references %>
</p>

<p>
  <strong>Points:</strong>
  <%= @rating.points %>
</p>

<p>
  <strong>Text:</strong>
  <%= @rating.text %>
</p>

<%= link_to 'Edit', edit_rating_path(@rating) %> |
<%= link_to 'Back', ratings_path %>
