<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @expense.user %>
</p>

<p>
  <strong>Ee category:</strong>
  <%= @expense.ee_category %>
</p>

<p>
  <strong>Name:</strong>
  <%= @expense.name %>
</p>

<p>
  <strong>Sum:</strong>
  <%= @expense.sum %>
</p>

<%= link_to 'Edit', edit_expense_path(@expense) %> |
<%= link_to 'Back', expenses_path %>
