<%= form_for(@earning) do |f| %>
  <% if @earning.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@earning.errors.count, "error") %> prohibited this earning from being saved:</h2>

      <ul>
      <% @earning.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.text_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :ee_category_id %><br>
    <%= f.text_field :ee_category_id %>
  </div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :sum %><br>
    <%= f.text_field :sum %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
