<p id="notice"><%= notice %></p>

<h1>Listing Sexuals</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Language</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sexuals.each do |sexual| %>
      <tr>
        <td><%= sexual.name %></td>
        <td><%= sexual.language %></td>
        <td><%= link_to 'Show', sexual %></td>
        <td><%= link_to 'Edit', edit_sexual_path(sexual) %></td>
        <td><%= link_to 'Destroy', sexual, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sexual', new_sexual_path %>
