<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @sexual.name %>
</p>

<p>
  <strong>Language:</strong>
  <%= @sexual.language %>
</p>

<%= link_to 'Edit', edit_sexual_path(@sexual) %> |
<%= link_to 'Back', sexuals_path %>
