<!DOCTYPE html>
<html>
<head>
  <title>Angular</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

Admin:
<%= link_to 'languages', '/languages' %>
<%= link_to 'genders', '/genders' %>
<%= link_to 'allergens', '/allergens' %>
<%= link_to 'certificates', '/certificates' %>
<%= link_to 'earnings', '/earnings' %>
<%= link_to 'ee_categories', '/ee_categories' %>
<%= link_to 'expenses', '/expenses' %>
<%= link_to 'ingredients', '/ingredients' %>
<%= link_to 'manufacturers', '/manufacturers' %>
<%= link_to 'nutritions', '/nutritions' %>
<%= link_to 'products', '/products' %>
<%= link_to 'purchases', '/purchases' %>
<%= link_to 'ratings', '/ratings' %>
<%= link_to 'resellers', '/resellers' %>
<%= link_to 'scenes', '/scenes' %>
<%= link_to 'sexuals', '/sexuals' %>
<%= link_to 'vegans', '/vegans' %>

<%= yield %>

</body>
</html>
