<!DOCTYPE html>
<html>
<head>
  <title>Angular</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

Admin:
<%= link_to 'Sprachen', 'languages#index' %>
<%= link_to 'genders', 'genders#index' %>
<%= link_to 'allergens', 'allergens#index' %>
<%= link_to 'certificates', 'certificates#index' %>
<%= link_to 'earnings', 'earnings#index' %>
<%= link_to 'ee_categories', 'ee_categories#index' %>
<%= link_to 'expenses', 'expenses#index' %>
<%= link_to 'ingredients', 'ingredients#index' %>
<%= link_to 'manufacturers', 'manufacturers#index' %>
<%= link_to 'nutritions', 'nutritions#index' %>
<%= link_to 'products', 'products#index' %>
<%= link_to 'purchases', 'purchases#index' %>
<%= link_to 'ratings', 'ratings#index' %>
<%= link_to 'resellers', 'resellers#index' %>
<%= link_to 'scenes', 'scenes#index' %>
<%= link_to 'sexuals', 'sexuals#index' %>
<%= link_to 'vegans', 'vegans#index' %>

<%= yield %>

</body>
</html>
