<!DOCTYPE html>
<html>
<head>
  <title>Angular</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

Admin:
<%= link_to 'languages', {:controller => 'languages', :action => 'index'} %>
<%= link_to 'genders', {:controller => 'genders', :action => 'index'} %>

<%= yield %>

</body>
</html>
